* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e6ffff;
  height: 100%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

header {
  margin: 5px;
  padding: 10px;
  grid-area: h;
}

header hr {
  height: 1px;
  background-color: #0000cc;
  border: none;
  margin-top: 10px;
}

h1 {
  color: #00001a;
}
nav {
  padding: 0;
  margin: 10px 0 15px 0;
  grid-area: n;
}

a {
  text-decoration: none;
  color: #00001a;
}

a:hover {
  color: orangered;
}

li {
  list-style-type: none;
}

hr {
  border: 1px solid black;
}

main {
  margin: 0;
  padding: 10px;
  background-color: #80ffff;
  grid-area: m;
}

.main-box1 {
  grid-area: i;
}

.main-box2 {
  grid-area: j;
}

.main-box3 {
  grid-area: k;
}

.main-box4 {
  grid-area: l;
}

.main-box5 {
  grid-area: q;
}
.main-box6 {
  grid-area: r;
}
.main-box7 {
  grid-area: s;
}
.main-box8 {
  grid-area: t;
}
.main-box9 {
  grid-area: u;
}
.main-box10 {
  grid-area: v;
}
.main-box11 {
  grid-area: w;
}
aside {
  background-color: #99ffff;
  font-size: 12px;
  padding: 15px;
  box-sizing: border-box;
  grid-area: a;
}

img {
  width: 300px;
  height: 350px;
  object-fit: cover;
  margin: 1em 0;
  border-radius: 15%;
}

iframe {
  width: 300px;
  height: 250px;
  margin-top: 20px;
}

video {
  width: 320px;
  height: 250px;
}

footer {
  margin: 10px;
  padding: 5px;
  grid-area: f;
}

h2,
h3 {
  margin: 10px 0;
}

form {
  margin: 10px;
  padding: 15px;
}

button {
  background-color: darkgray;
  padding: 5px;
  margin: 0 8px;
}

/* grid CSS*/
.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "h"
    "n"
    "m"
    "a"
    "f";
}

/* flex CSS*/

/* aanpassingen voor desktop min-width: 1024px*/
@media screen and (min-width: 1024px) {
  body {
    font-size: 16px;
  }

  .grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 75px 50px 100% 50px;
    grid-template-areas:
      "h h h h h"
      "n n n n n"
      "m m m m a"
      "f f f f f";
  }

  .main-grid-home {
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "i j"
      "l k";
    gap: 0;
    justify-items: center;
    align-items: center;
  }

  img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    margin: 0;
    border-radius: 15%;
  }

  main {
    margin: 0;
    padding: 0 15px;
  }

  .main-grid-uitdaging {
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
      "i i"
      "j k"
      "q l"
      "r s"
      "u t"
      "v w";
    gap: 0;
    justify-items: center;
    align-items: center;
  }

  .nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }

  .main-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aside-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .aside-box1 {
    width: 50%;
    padding-top: 150px;
  }

  .aside-box2 {
    padding-top: 30px;
  }
}
